In [3]:
#import libraries
import pandas as pd
import numpy as np
import os

In [1]:
#assigning path
path = r'/Users/febingeorge/Documents'

In [199]:
path

'/Users/febingeorge/Documents'

In [201]:
#importing dataset
df = pd.read_csv(os.path.join(path,'boat_data.csv'),index_col = False)

In [203]:
#Total columns and rows
df.shape

(9888, 10)

In [205]:
df.columns

Index(['Price', 'Boat Type', 'Manufacturer', 'Type', 'Year Built', 'Length',
       'Width', 'Material', 'Location', 'Number of views last 7 days'],
      dtype='object')

In [207]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9888 entries, 0 to 9887
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        9888 non-null   object
 1   Boat Type                    9888 non-null   object
 2   Manufacturer                 8550 non-null   object
 3   Type                         9882 non-null   object
 4   Year Built                   9888 non-null   int64
 5   Length                       9879 non-null   float64
 6   Width                        9832 non-null   float64
 7   Material                     8139 non-null   object
 8   Location                     9852 non-null   object
 9   Number of views last 7 days  9888 non-null   int64
dtypes: float64(2), int64(2), object(6)
memory usage: 772.6+ KB

In [209]:
#Nan values
df.isnull().sum()

Price                             0
Boat Type                         0
Manufacturer                   1338
Type                              6
Year Built                        0
Length                            9
Width                            56
Material                       1749
Location                         36
Number of views last 7 days       0
dtype: int64

In [211]:
#Statistical Analyisis
df.describe()

        Year Built       Length        Width  Number of views last 7 days
count  9888.000000  9879.000000  9832.000000                  9888.000000
mean   1893.192860    11.570017     3.520124                   149.160801
std     460.201582     6.002820     1.220534                   151.819752
min       0.000000     1.040000     0.010000                    13.000000
25%    1996.000000     7.470000     2.540000                    70.000000
50%    2007.000000    10.280000     3.330000                   108.000000
75%    2017.000000    13.930000     4.250000                   172.000000
max    2021.000000   100.000000    25.160000                  3263.000000

In [213]:
#Searching for duplicates
df_dups = df[df.duplicated()]

In [215]:
df_dups

Empty DataFrame
Columns: [Price, Boat Type, Manufacturer, Type, Year Built, Length, Width, Material, Location, Number of views last 7 days]
Index: []

In [217]:
#filling Nan values
df[['Manufacturer','Type','Material','Location']] = df[['Manufacturer','Type','Material','Location']].fillna('Not Available')

In [219]:
df.isnull().sum()

Price                           0
Boat Type                       0
Manufacturer                    0
Type                            0
Year Built                      0
Length                          9
Width                          56
Material                        0
Location                        0
Number of views last 7 days     0
dtype: int64

Replacing Nan of length and Width with mean values

In [222]:
df['Length'].fillna( 11.57,inplace = True)

/var/folders/vk/t91x8sx96dgcp872p9l713yh0000gn/T/ipykernel_7856/4166668562.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Length'].fillna( 11.57,inplace = True)

In [224]:
df['Width'].fillna(3.52,inplace = True)

/var/folders/vk/t91x8sx96dgcp872p9l713yh0000gn/T/ipykernel_7856/2761423037.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Width'].fillna(3.52,inplace = True)

In [226]:
df.isnull().sum()

Price                          0
Boat Type                      0
Manufacturer                   0
Type                           0
Year Built                     0
Length                         0
Width                          0
Material                       0
Location                       0
Number of views last 7 days    0
dtype: int64

In [228]:
#changing the price format
df['Price'] = df['Price'].str.replace('Â£','GBP')

In [230]:
df_price = df[df['Price'] == 'DKK 2600000']

In [232]:
df_price

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
4462,DKK 2600000,Motor Yacht,Not Available,Used boat,2013,14.45,3.8,GRP,Switzerland,83

In [ ]:
df_country = df[df['Country'] == 'Slovenia']

In [ ]:
df_country.shape

In [ ]:
df.head(50)

In [234]:
#splitting location column
df_location = df['Location'].str.split('»',expand = True)

In [236]:
df_location.columns = ['Country' , 'City' ,'City1']

In [238]:
df_location.head()

         Country               City       City1
0  Switzerland Â      Lake Geneva Â    VÃ©senaz
1      Germany Â      BÃ¶nningstedt        None
2  Switzerland Â   Lake of Zurich Â   StÃ¤fa ZH
3      Denmark Â          Svendborg        None
4      Germany Â           Bayern Â    MÃ¼nchen

In [240]:
df_location['Country'] = df_location['Country'].str.replace(' Â' , '')

In [242]:
df_location['City'] = df_location['City'].str.replace(' Â' , '')

In [244]:
df_location['City'] = df_location['City'].str.replace('BÃ¶nningstedt' , 'Bönningstedt')

In [246]:
df_location = df_location.drop(columns = ['City1'])

In [248]:
df_location.head()

       Country             City
0  Switzerland      Lake Geneva
1      Germany     Bönningstedt
2  Switzerland   Lake of Zurich
3      Denmark        Svendborg
4      Germany           Bayern

In [250]:
df_location.shape

(9888, 2)

In [177]:
##df.rename(columns = {'Location' : 'Country'},inplace = True)

In [252]:
df.shape

(9888, 10)

In [254]:
df_merged = pd.concat([df,df_location],axis = 1)

In [266]:
df_merged

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Number of views last 7 days,Country
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,Not Available,226,Switzerland
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,75,Germany
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,124,Switzerland
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,Not Available,64,Denmark
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,58,Germany
...,...,...,...,...,...,...,...,...,...,...
9883,CHF 4900,Sport Boat,Sea Ray power boats,"Used boat,Unleaded",1987,6.30,2.44,Not Available,1116,Switzerland
9884,EUR 4516,Sport Boat,Not Available,new boat from stock,0,4.17,1.68,GRP,94,Germany
9885,EUR 4499,Sport Boat,BlueCraft power boats,"new boat from stock,Unleaded",2020,4.40,1.80,GRP,354,Germany
9886,EUR 4300,Pontoon Boat,Whaly power boats,new boat from stock,2018,4.37,1.89,Not Available,266,Italy
9887,CHF 3780,Fishing Boat,DarekCo power boats,new boat from stock,2019,3.60,1.60,GRP,194,Switzerland

In [268]:
df_merged.shape

(9888, 10)

In [270]:
df_merged.isnull().sum()

Price                          0
Boat Type                      0
Manufacturer                   0
Type                           0
Year Built                     0
Length                         0
Width                          0
Material                       0
Number of views last 7 days    0
Country                        0
dtype: int64

In [262]:
df_merged = df_merged.drop(columns = ['City','Location'])

Formatting all the countries

In [476]:
pd.set_option('display.max_rows', 500)
df_merged['Country'].value_counts()

Country
Germany                        1941
Italy                          1801
France                         1233
Switzerland                    1122
Netherlands                    1059
Croatia                         817
Spain                           706
United Kingdom                  217
Denmark                         174
Portugal                        135
Austria                          98
Greece                           83
Malta                            72
Belgium                          65
Turkey                           64
Poland                           42
Slovenia                         40
Not Available                    36
Finland                          35
Montenegro                       22
United Arab Emirates             17
United States                    14
Sweden                           13
Monaco                           10
Slovakia                          9
Russian Federation                7
Estonia                           6
Czech Republic                    5
Lithuania                         5
Cyprus                            5
Hungary                           4
Latvia                            3
Bulgaria                          3
French Southern Territories       3
Thailand                          3
Ukraine                           2
Denmark                           2
Australia                         2
Norway                            2
Ireland                           1
Lebanon                           1
Morocco                           1
Seychelles                        1
Taiwan                            1
Venezuela                         1
Luxembourg                        1
Philippines                       1
Serbia                            1
Egypt                             1
Romania                           1
Name: count, dtype: int64

In [474]:
df_merged['Country'] = df_merged['Country'].str.replace('Jersey','United States')

In [462]:
df_merged['Country'] = df_merged['Country'].str.replace('Izola','Slovenia')

In [402]:
df_merged['Country'].replace(['Bremen','83278 Traunstein','Steinwiesen','Beilngries ','Greetsile/ KrummhÃ¶rn ','Neustadt in Holstein (Ostsee)','Niederrhein','waren mÃ¼ritz ','Stralsund ','Rostock ','24782 BÃ¼delsdorf ','waren mÃ¼ritz ','Bielefeld','Berlin Wannsee ','Rheinfelden','bodensee','Donau','Heilbronn'], 'Germany', inplace=True)

In [450]:
df_merged['Country'] = df_merged['Country'].str.replace('Martinique', 'French Southern Territories', regex=True)

In [442]:
df_merged['Country'] = df_merged['Country'].str.replace('Opwijk', 'Belgium', regex=True)

In [280]:
df_merged['Country'].replace(['Katwijk ','Wijdenes','Zevenbergen'], 'Netherlands', inplace=True)

/var/folders/vk/t91x8sx96dgcp872p9l713yh0000gn/T/ipykernel_7856/1482398809.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_merged['Country'].replace(['Katwijk ','Wijdenes','Zevenbergen'], 'Netherlands', inplace=True)

In [380]:
df_merged['Country'] = df_merged['Country'].str.replace('Lago Maggiore','Switzerland', regex=True)

In [410]:
df_merged['Country'].replace(['espa?a','Mallorca ','Calanova Mallorca ','Ibiza'], 'Spain', inplace=True)

/var/folders/vk/t91x8sx96dgcp872p9l713yh0000gn/T/ipykernel_7856/4073352873.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_merged['Country'].replace(['espa?a','Mallorca ','Calanova Mallorca ','Ibiza'], 'Spain', inplace=True)

In [420]:
df_merged['Country'] = df_merged['Country'].str.replace('Italy ', 'Italy')

In [478]:
df_merged['Price'].value_counts()

Price
EUR 65000      77
EUR 45000      67
EUR 75000      64
EUR 89000      64
EUR 55000      61
               ..
EUR 1199000     1
EUR 1197600     1
EUR 1184590     1
EUR 1163760     1
CHF 3780        1
Name: count, Length: 3182, dtype: int64

Creating Price in Euros

In [480]:
df_merged[['Currency','Prices(in Euros)']] = df_merged['Price'].str.split(' ',expand = True)

In [482]:
df_merged

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Number of views last 7 days,Country,Currency,Prices(in Euros)
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,Not Available,226,Switzerland,CHF,3337
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,75,Germany,EUR,3490
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,124,Switzerland,CHF,3770
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,Not Available,64,Denmark,DKK,25900
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,58,Germany,EUR,3399
...,...,...,...,...,...,...,...,...,...,...,...,...
9883,CHF 4900,Sport Boat,Sea Ray power boats,"Used boat,Unleaded",1987,6.30,2.44,Not Available,1116,Switzerland,CHF,4900
9884,EUR 4516,Sport Boat,Not Available,new boat from stock,0,4.17,1.68,GRP,94,Germany,EUR,4516
9885,EUR 4499,Sport Boat,BlueCraft power boats,"new boat from stock,Unleaded",2020,4.40,1.80,GRP,354,Germany,EUR,4499
9886,EUR 4300,Pontoon Boat,Whaly power boats,new boat from stock,2018,4.37,1.89,Not Available,266,Italy,EUR,4300
9887,CHF 3780,Fishing Boat,DarekCo power boats,new boat from stock,2019,3.60,1.60,GRP,194,Switzerland,CHF,3780

In [484]:
df_merged['Prices(in Euros)'] =  df_merged['Prices(in Euros)'].astype('float64')

In [486]:
df_merged.rename(columns ={'Prices(in Euros)' : 'Prices'},inplace = True)

In [488]:
df_merged.dtypes

Price                           object
Boat Type                       object
Manufacturer                    object
Type                            object
Year Built                       int64
Length                         float64
Width                          float64
Material                        object
Number of views last 7 days      int64
Country                         object
Currency                        object
Prices                         float64
dtype: object

In [490]:
def europrice (Prices,Currency):
    if Currency == 'EUR':
        return Prices
    elif Currency == 'DKK':
        return (Prices*0.13)
    elif Currency == 'CHF':
        return (Prices * 1.07)
    elif Currency == 'GBP':
        return (Prices*1.16)
    else:
        return 'Not Available'

In [492]:
df_merged['Prices in Euros'] = df_merged.apply(lambda x: europrice(x.Prices,x.Currency),axis = 1)

In [494]:
df_merged.columns

Index(['Price', 'Boat Type', 'Manufacturer', 'Type', 'Year Built', 'Length',
       'Width', 'Material', 'Number of views last 7 days', 'Country',
       'Currency', 'Prices', 'Prices in Euros'],
      dtype='object')

In [496]:
df_merged = df_merged.drop(columns = ['Price','Prices','Currency'])

In [498]:
df_merged.shape

(9888, 10)

In [5]:
df_merged.to_pickle(os.path.join(path,'Boat_Sales.pkl'))

NameError: name 'df_merged' is not defined

In [7]:
df_merged = pd.read_pickle(os.path.join(path,'Boat_Sales.pkl'),compression='infer')

In [9]:
df_merged.head()

,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Number of views last 7 days,Country,Prices in Euros
0,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,Not Available,226,Switzerland,3570.59
1,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,75,Germany,3490.00
2,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,124,Switzerland,4033.90
3,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,Not Available,64,Denmark,3367.00
4,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,58,Germany,3399.00

In [506]:
df_merged.shape

(9888, 10)

In [11]:
pd.set_option('display.max_rows', 500)
df_merged['Year Built'].value_counts()

Year Built
2020    1279
2019     663
0        551
2008     457
2007     393
2006     393
2018     351
2017     314
2005     307
2009     303
2004     270
2016     227
2003     226
2010     222
2011     211
2001     202
2015     199
2000     195
2002     188
2012     175
2014     168
2013     160
1996     147
1999     144
1995     138
1992     135
1991     130
1997     130
1990     120
1998     118
1994     113
1993      95
1989      86
1988      72
1980      69
1987      61
1978      57
1985      55
2021      53
1979      50
1986      50
1976      40
1981      40
1984      40
1974      30
1975      30
1983      27
1972      27
1982      25
1973      23
1971      20
1970      17
1967      16
1965      16
1977      14
1968      12
1969      11
1963      11
1961      11
1910      10
1962       8
1922       7
1958       7
1964       6
1960       6
1930       6
1950       6
1966       6
1954       5
1959       5
1925       5
1926       5
1948       5
1936       5
1955       5
1956       5
1952       4
1911       4
1927       4
1907       4
1920       4
1919       4
1928       4
1934       3
1924       3
1905       3
1901       3
1923       3
1951       3
1909       3
1903       3
1906       3
1940       3
1929       3
1933       3
1949       2
1913       2
1938       2
1957       2
1915       2
1953       2
1939       2
1908       2
1898       1
1902       1
1897       1
1945       1
1912       1
1947       1
1935       1
1917       1
1946       1
1904       1
1941       1
1889       1
1937       1
1942       1
1914       1
1895       1
1885       1
1931       1
1900       1
Name: count, dtype: int64

In [13]:
df_merged.describe()

,Year Built,Length,Width,Number of views last 7 days,Prices in Euros
count,9888.000000,9888.000000,9888.000000,9888.000000,9.888000e+03
mean,1893.192860,11.570017,3.520123,149.160801,3.031812e+05
std,460.201582,6.000087,1.217073,151.819752,9.704909e+05
min,0.000000,1.040000,0.010000,13.000000,3.224000e+03
25%,1996.000000,7.470000,2.550000,70.000000,4.300000e+04
50%,2007.000000,10.300000,3.350000,108.000000,9.402650e+04
75%,2017.000000,13.920000,4.250000,172.000000,2.490000e+05
max,2021.000000,100.000000,25.160000,3263.000000,3.100000e+07